$main_bl:rgba(79, 130, 244,1);
$topnav_bg:#f5f6fa;
$main_grey:rgba(164, 169, 180,1);
$word_grey:rgba(126, 137, 166,1);
$dark_grey:rgba(64, 70, 86,1);
$tabel_grey:#f7f8fc;
$pink:#ff008a;
$red:#db6372;
$green:#69c969;